/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  text-align: center;
   background-image: url("https://cdn.glitch.com/8bae26d5-efba-4757-b1ac-f7d6bea6932c%2Fhome.jpg?v=1609361970278");
  background-size:cover;
  padding:40px;
}

h1 {
  
  color: #d81371
}

img {
  border-radius: 8px;
    max-width: 80%;
  height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
<div style="background-image: url('home.jpg');">


